@page
@model OffPractice.Pages.Player.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].PN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].PL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Coaches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Teams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Players) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coaches.CID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams.TID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
